body{
  margin:0;
  font-family: Arial, sans-serif;
  background: rgb(218, 218, 218);
  color: #1c1c1c;
}

/* ================== TOPBAR ================== */

.topbar{
  background: black;
  color:white;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:bold;
}

.theme-btn{
  font-size:22px;
  border:none;
  background:none;
  cursor:pointer;
  color:white;
}

/* ================== PERFIL ================== */

.perfil{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:25px;
  padding:40px 20px;
  text-align:left;
}

.foto-perfil{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #FFD700;
}

.perfil-texto .nombre{
  font-size:26px;
  font-weight:bold;
  margin:0;
  color: #1c1c1c;
}

/* ================== DATOS ================== */

.datos-container{
  max-width:800px;
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  padding:0 20px;
}

.dato-box{
  background:#fafafa;
  border-radius:12px;
  padding:20px;
  border:1px solid #eee;
}

.label{
  font-size:13px;
  font-weight:bold;
  color:#FF4500;
}

.valor{
  margin-top:4px;
  font-size:15px;
}

/* ================== PROYECTOS ================== */

.proyectos{
  max-width:1000px;
  margin:40px auto;
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:280px;
  border-radius:12px;
  border:1px solid #e5e5e5;
  text-align:center;
  padding-bottom:18px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:12px 12px 0 0;
}

.titulo-card{
  margin:12px 0 6px;
  font-weight:bold;
}

.card a{
  text-decoration:none;
  display:block;
  width:80%;
  margin:5px auto;
  background:#FFD700;
  color:#1c1c1c;
  padding:8px 0;
  border-radius:8px;
  font-weight:bold;
  transition:.2s;
}

.card a:hover{
  background:#FF4500;
  color:white;
}

/* ================== FOOTER ================== */

.footer{
  text-align:center;
  padding:20px;
  margin-top:40px;
  border-top:1px solid #ddd;
  font-size:13px;
  color: white;
  background:#1c1c1c;
}

/* ================= MODO OSCURO ================= */

.dark-mode {
  background-color: #1c1c1c;
  color: white;
}

.dark-mode .topbar {
  background-color: #111;
  color: #FFD700;
}

.dark-mode .perfil-texto .nombre {
  color: #FFD700;
}

.dark-mode .dato-box {
  background-color: #2a2a2a;
  border-color: #FF4500;
}

.dark-mode .label {
  color: #FFD700;
}

.dark-mode .card {
  background-color: #222;
  color: white;
  border: 1px solid #FF4500;
}

.dark-mode .card a {
  background:#FFD700;
  color:#1c1c1c;
}

.dark-mode .card a:hover {
  background:#FF4500;
  color:white;
}

.dark-mode .footer {
  background-color: #000;
  color: #FFD700;
}

.dark-mode .theme-btn {
  color: #FFD700;
}

/* RESPONSIVE */

@media(max-width:600px){
  .datos-container{
    grid-template-columns:1fr;
  }
}
